.bookinfo{
    margin-top: 0px;
}
.userinfo{
    margin-top: 0px;
}
.userStatistic{
    margin-top: 10px;
}
.charts{
    float: right;
    margin-right: 100px;
    width: 600px;
    margin-top: 0px;
}
.statisticResults{
    float: left;
    margin-top: 100px;
    margin-left: 250px;
}
.barChart{
    float: right;
    margin-right: 50px;
    width: 600px;
    margin-top: 60px;
}
.Clear{
    clear: both;
}